@import "pretendard/dist/web/variable/pretendardvariable.css";
@import "tailwindcss";

/* ✅ Tailwind v4 theme variables: 이 형태여야 bg-neutral-900 같은 유틸이 자동 생성됨 */
@theme {
  /* Animation */
  --animate-slide-up: slide-up 0.4s ease-out;

  /* Orange */
  --color-orange-900: #2f1004;
  --color-orange-800: #5d1f09;
  --color-orange-700: #8c2f0d;
  --color-orange-600: #bb3f11;
  --color-orange-500: #e94e16;
  --color-orange-450: #ec602d;
  --color-orange-400: #ee7244;
  --color-orange-300: #f29573;
  --color-orange-200: #f6b8a2;
  --color-orange-100: #fbdcd0;

  /* Neutral */
  --color-neutral-1000: #000000;
  --color-neutral-900: #131313;
  --color-neutral-875: #222222;
  --color-neutral-850: #303030;
  --color-neutral-800: #3d3d3d;
  --color-neutral-750: #4a4a4a;
  --color-neutral-700: #575757;
  --color-neutral-600: #707070;
  --color-neutral-500: #8a8a8a;
  --color-neutral-400: #a3a3a3;
  --color-neutral-300: #bdbdbd;
  --color-neutral-200: #d6d6d6;
  --color-neutral-100: #f0f0f0;
  --color-neutral-0: #fbfbfb;
}

:root {
  --tabbar-height: 5.5625rem;
  --fab-gap: 0.8rem; /* spacing.4 */
}

@layer base {
  /* 화면 꽉 차게: 루트 높이 고정 */
  html,
  body,
  #root {
    height: 100%;
  }

  /* 모바일 주소창 변화에도 안정적인 최소 높이 + 전역 폰트 */
  body {
    min-height: 100dvh;
    overflow-x: hidden;
    background-color: var(--color-neutral-900);

    font-family: "Pretendard Variable", Pretendard, system-ui, sans-serif;
  }
}

@font-face {
  font-family: Ydestreet;
  src: url("./assets/fonts/YdestreetL.woff2") format("woff2");
  font-weight: 700;
}

.font-ydestreet {
  font-family:
    "Ydestreet", "Pretendard Variable", Pretendard, system-ui, sans-serif;
}

/* 현상소 소식 rolling 애니메이션 */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 토스트 애니메이션 */
@keyframes toast-slide {
  from {
    transform: translateY(1.25rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes toast-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-toast-in {
  animation: toast-slide 0.3s ease-out;
}

.animate-toast-content {
  animation: toast-fade 0.3s ease-out;
}

@keyframes toast-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-toast-out {
  animation: toast-out 0.1s ease-in forwards;
}

.bg-splash-gradient {
  background:
    radial-gradient(
      700px 400px at -10% 0%,
      rgba(255, 153, 92, 0.25) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    radial-gradient(
      1000px 1000px at 90% 85%,
      rgba(255, 107, 39, 0.22) 0%,
      rgba(0, 0, 0, 0) 60%
    ),
    radial-gradient(
      200px 200px at 110% 100%,
      rgba(255, 233, 197, 1) 0%,
      rgba(0, 0, 0, 0) 30%
    ),
    #070707;
}
